.adminSidebar{
    height: 100vh;
    background: #0c0f3a ;
    padding: 2rem 1rem;
    min-height: 100%;
}
.adminSidebar ul li{
    padding: 5px 8px;
    margin: 5px 0;
}
.adminSidebar a {
    color: #ffffffde !important;
    font-size: 1.2rem;
}
.adminSidebar ul li:hover{
    background: #181c59 !important;
}
.active_bg{
    background: #181c59 !important;
}