.userInfo{
    text-align: center;
    padding: 10px 0;
    border: 2px solid #c9c9c9;
    border-radius: 10px;
}
.examInfo{
    padding: 10px;
    border: 2px solid #c9c9c9;
    border-radius: 10px;
    text-align: center;
}
.question{
    display: flex;
    align-items: center;
}
.questionIndex{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0020ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0 15px;
}
.question_fa{
    font-size: 1.3rem;
    font-weight: bold;
}
.question_op{
    display: flex;
}