/* // font face */
@font-face {
    font-family: vazir;
    src: url('./../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Regular.ttf');
}
* {
    font-family: vazir;
}
.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}
.bold{
    font-weight: bold;
}
a{
    text-decoration: none !important;
}
ul{
    list-style-type: none;
    padding: 0 !important;
}
.hambergerMenu{
    font-size: 2rem;
    cursor: pointer;
    fill: #010531;
}
.larger{
    font-size: 1.5rem;
}
.form-control:focus{
    box-shadow: none !important;
}
tr {
    text-align: center;
    vertical-align: middle;
}
.bgHeadTable{
    background : #ccc7c7cf;
}